apiVersion: apps/v1
kind: Deployment
metadata:
  name: register-app-deployment
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: register-app
  template:
    metadata:
      labels:
        app: register-app
    spec:
      initContainers:
        - name: download-otel-agent
          image: busybox
          command:
            - sh
            - -c
            - >
              wget https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/latest/download/opentelemetry-javaagent.jar
              -O /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel

      containers:
        - name: register-app
          image: chandraf80/register-app-pipeline:1.0.0-23
          env:
           
            - name: CATALINA_OPTS
              value: "-javaagent:/otel/opentelemetry-javaagent.jar"
            - name: JAVA_TOOL_OPTIONS
              value: "-javaagent:/otel/opentelemetry-javaagent.jar"
            
            - name: OTEL_SERVICE_NAME
              value: "register-app"

            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-collector.observability.svc.cluster.local:4318" 
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "http/protobuf"
          ports:
            - containerPort: 8080

          resources:
            requests:
              memory: "30Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"

          volumeMounts:
            - name: otel-agent
              mountPath: /otel

      volumes:
        - name: otel-agent
          emptyDir: {}